<%= form_for @note do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="action">
    <%= f.submit class: "button" %>
  </div>
<% end %>
